<!DOCTYPE html>
<html>

  <head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Vasil Stoyanov | Official website</title>

    <script src="libs/jquery.js"></script>
    <script src="libs/angular.js"></script>
    <script src="libs/angular-route.js"></script>
    <script src="libs/angular-resource.js"></script>
    <script src="libs/angular-aria.js"></script>
    <script src="libs/angular-animate.js"></script>
    <script src="libs/angular-material.js"></script>
    <script src="libs/angular-messages.js"></script>

    <script src="files/main.js"></script>
    <script src="files/constants.js"></script>
    <script src="files/configuration/config.js"></script>

    <script src="files/loopback/lb-services.js"></script>

    <script src="files/base/base-controller.js"></script>
    <script src="files/home/home-controller.js"></script>
    <script src="files/sign-in/signIn-controller.js"></script>

    <!-- Libs -->
    <link rel="stylesheet" href="libs/angular-material.css" media="screen" charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Font -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/css/app.css" rel="stylesheet">
    <link href="/css/left-sidenav.css" rel="stylesheet">

  </head>

  <body data-ng-app="PersonalWebsite" data-ng-cloak="true" data-ng-controller="BaseController as base" layout>
    <md-sidenav id="left-sidenav" layout="column" class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="10">

      <div class="layer"></div>

      <div flex="5" class="logo" layout="row" layout-align="center center">
        <h1>VasilStoyanov.com</h1>
      </div>
      <div flex="25" layout="column" class="left-sidenav-toolbar" layout-align="center center">
        <img src="/images/user_default.png" flex="40" layout-margin alt="default_avatar">
        <h3 flex="40">Current user</h3>
      </div>

      <!-- Main navigation -->
      <div flex="55" layout="column" layout-padding class="nav-content">
        <md-button data-ng-repeat="navButton in base.navButtons"
                  data-ng-click="base.navigateTo(navButton.navigationPath, navButton.name)"
                  layout="row"
                  layout-margin
                  class="md-primary"
                  data-ng-class="{'selected' : base.selectedButton == navButton.name}"
                  md-ink-ripple="false">
        <i class="material-icons">{{navButton.iconName}}</i> {{navButton.text}}
        </md-button>
      </div>

      <div class="left-sidenav-background"></div>

    </md-sidenav>

    <md-content flex md-colors="{background: 'primary-200'}">

      <md-toolbar layout="row" flex class="md-hue-1">
        <div class="md-toolbar-tools">
          <!-- Left positioned elements -->
          <md-button hide-gt-md data-ng-click="base.toggleLeftSideNav()" class="md-icon-button" aria-label="Settings">
            <i class="material-icons">&#xE5D2;</i>
          </md-button>

          <span flex></span>
          <!-- Right positioned elements -->
          <div layout="row" layout-align="start center">
            <md-button data-ng-click="base.toggleLeftSideNav()" class="md-icon-button" aria-label="Notifications">
              <i class="material-icons">notifications_none</i>
            </md-button>

            <i class="material-icons" style="font-size: 48px; color: grey;">&#xE853;</i>
          </div>

        </div>
      </md-toolbar>

      <md-content data-ng-view></md-content>

      <md-fab-speed-dial md-direction="up" class="md-fab-bottom-right">
        <md-fab-trigger>
          <md-button aria-label="menu" class="md-fab md-warn">
            <md-icon class="material-icons">&#xE0C9;</md-icon>
          </md-button>
        </md-fab-trigger>

      </md-fab-speed-dial>
    </md-content>


  </body>

</html>
