<md-content md-colors="{background: 'primary-200'}" layout="row" layout-align="center center" flex="100">
  <md-card flex="50" flex-xs="100" md-whiteframe="8">

    <md-card-header layout layout-align="center center">
      <md-card-avatar>
        <md-user-avatar>
          <md-icon class="material-icons">&#xE853;</md-icon>
        </md-user-avatar>
      </md-card-avatar>
    </md-card-header>
    <md-card-content>

      <md-input-container class="md-block">
        <label>Email</label>
        <input required md-no-asterisk name="description" ng-model="user.email">
        <div ng-messages="projectForm.description.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Password</label>
        <input required md-no-asterisk name="description" ng-model="project.password">
        <div ng-messages="projectForm.description.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>

      <div layout="row" layout-align="center center">

        <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1" class="md-primary md-hue-2">
          Remmember me
        </md-checkbox>
        <span flex></span>
        <md-button class="md-raised md-primary md-hue-1">Login</md-button>
      </div>

    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
    </md-card-actions>
  </md-card>
</md-content>
